.hidden {
  display: none;
}

body {
  color: white;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#login-form {
  margin-top: 100px;
}

#login-form .name {
  height: 30px;
  width: 300px;
  border-radius: 10px;
  font-size: 15px;
  text-align: center;
}

#login-form .loginbutton {
  font-size: 15px;
  height: 30px;
  font-weight: bold;
  border-radius: 5px;
}

img {
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: -1;
}

#greeting {
  font-size: 50px;
  -webkit-text-stroke: 0.5px rgb(54, 57, 59);
}

#todo-list {
  font-size: 30px;
  list-style-type: square;
}

#todo-form input {
  width: 300px;
  height: 30px;
  text-align: center;
  border-radius: 10px;
  border-width: 0;
}

#quote {
  font-size: 15px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  cursor: pointer;
}

button {
  border-radius: 3px;
  border-color: white;
  font-size: 13px;
  cursor: pointer;
  margin-left: 10px;
  background-color: transparent;
  color: white;
}
